<h1>index</h1>

<a href="/facebook/index.html">Protected url by Facebook: facebook/index.html</a> (use a real account)<br />

<a href="facebook/notprotected.html">Not protected page: facebook/notprotected.html</a> (no authentication required)<br />

<a href="/facebookadmin/index.html">Protected url by Facebook with ROLE_ADMIN: facebookadmin/index.html</a> (use a real account)<br />

<a href="/facebookcustom/index.html">Protected url by Facebook with custom authorizer (= must be a <em>CommonProfile</em> where the username starts with "jle"): facebookcustom/index.html</a> (login with form or basic authentication before with jle* username)<br />

<a href="/twitter/index.html">Protected url by Twitter: twitter/index.html</a> or <a href="/twitter/index.html?client_name=FacebookClient">by Facebook: twitter/index.html?client_name=FacebookClient</a> (use a real account)<br />

<a href="/protected/index.html">Protected url: protected/index.html</a><br />
<br />

<a href="forceLogin?client_name=FacebookClient">Force Facebook login</a> (even if already authenticated)<br />
<br />

<a href="logout?url=/?forcepostlogouturl">local logout</a><br/>

<br />
<a href="centralLogout?url=http://localhost:8080/?forcepostlogouturlafteridp">central logout</a>

<br /><br />
profiles: {{profiles}}<br />
<br />
sessionId: {{sessionId}}
