<h1>Index</h1>

<table>
  <tr><th>Link</th><th>Explanation</th></tr>
  <tr><td><a href="/github/index.html">/github/index.html</a></td><td>tbd</td></tr>
  <tr><td><a href="/protected/index.html">/protected/index.html</a></td><td>tbd</td></tr>
  <tr><td><a href="/forceLogin?client_name=GitHubClient">forceLogin?client_name=GitHubClient</a></td><td>tbd</td></tr>
  <tr><td><a href="/logout?url=/?forcepostlogouturl">/logout?url=/?forcepostlogouturl</a></td><td>local logout</td></tr>
  <tr><td><a href="/centralLogout?url=https://127.0.0.1:8082/?forcepostlogouturlafteridp">/centralLogout?url=https://127.0.0.1:8082/?forcepostlogouturlafteridp</a></td><td>central logout</td></tr>
</table>


<table>
  <tr><th>profiles</th><td> {{profiles}}</td></tr>
  <tr><th>sessionId</th><td> {{sessionId}}</td></tr>
</table>



